<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118913428588-efpfavqkutbt8dl2i8gumsj3elb24hi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118913428588-efpfavqkutbt8dl2i8gumsj3elb24hi7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>118913428588-3smj1v4cova9l17k9917c81vjgfch89a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDleCRXl4HEdznaR97s403BKJUX2MZaNUA</string>
	<key>GCM_SENDER_ID</key>
	<string>118913428588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zenco.test</string>
	<key>PROJECT_ID</key>
	<string>zenonco-b58d1</string>
	<key>STORAGE_BUCKET</key>
	<string>zenonco-b58d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118913428588:ios:f2d91c7133ded3f094bc49</string>
</dict>
</plist>